* {
  box-sizing: border-box;
  font-family: "Poppins";
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #003466;
  color: white;
  width: 100%; /* Add this line */
}

.ul-left {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.ul-left li {
  padding: 14px 16px;
}

.ul-right {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.ul-right li {
  padding: 14px 16px;
}

.nav img {
  width: 120px;
}

.nav2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

.nav2 ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-transform: capitalize;
}

.nav2 ul > li {
  padding: 14px;
  text-transform: uppercase;
  color: #003466;
  font-weight: 600;
  font-size: 16px;
}

.contain {
  margin: auto;
}

.service {
  margin: 50px auto auto 10%;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 2% 11%;
}

.card-details {
  display: flex;
  flex-direction: column;
  padding: 30px 60px 30px;
  border: solid 1px white;
  font-size: 14px;
  box-shadow: 10px 10px 20px #e8e8e8;
  margin: 0 2%;
  border-radius: 5px;
}

.card-details p {
  margin-top: 40px;
}

.card-details button {
  width: auto;
  margin: 50px auto 20px;
  background-color: #1366a9;
  color: #e8e8e8;
  border: none;
  box-shadow: 10px;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.8s;
}

.card-details button:hover {
  color: #1366a9;
  background-color: white;
}

.contain1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 50px;
  background-color: #003466;
  color: white;
  font-size: xx-large;
}

.button1 button {
  background-color: #e8e8e8;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  color: #072c4a;
  font-size: large;
  text-transform: uppercase;
}

.card-details img {
  color: #003466;
  width: 50px;
  margin-bottom: 30px;
  height: 40px;
}

.who {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-w img {
  width: 400px;
  height: 400px;
}

.clients {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ico {
  width: 40px;
  height: 30px;
}

.main {
  margin: 40px 80px;
}

.who {
  margin-top: 30px;
}

.btn1 {
  text-align: center;
}

.btn1 button {
  border: solid 1px #1366a9;
  padding: 10px 10px;
  background: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 50px;
}

.btn1 button:hover {
  background-color: #1366a9;
  color: white;
}

.icon-t {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;
  margin: 50px 0px 0px 40px;
}

.text-about p,
h3 {
  margin-top: 10px;
}

.container {
  background-image: url(BANNERS-IMAGES-02.jpg);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.uptodate {
  margin: 15px 0px;
}

.uptodate input {
  height: 60px;
}

.emai {
  border-radius: 50px 0px 0px 50px;
  width: 500px;
  padding-right: 12px;
  padding-left: 20px;
  border: none;
}
.uptodate p {
  margin: 10px 0px 0px 0px;
}

.right {
  border-radius: 0px 50px 50px 0px;
  margin-left: 0px;
  border: none;
  margin-left: -5px;
  padding: 0px 20px 0px 20px;
}
